<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rainsunset.auth.dal.mapper.UserInfoMapper">

    <select id="selectUserInfoList" resultType="com.rainsunset.auth.dal.model.UserInfo">
        select `uid` `uid`,
        `pwd` `pwd`, `security_gestures` `securityGestures`, `expiry_time` `expiryTime`, `area_code` `areaCode`, 
        `phone` `phone`, `email` `email`, `card_id` `cardId`, `wchat_id` `wchatId`, 
        `weibo_id` `weiboId`, `qq_id` `qqId`, `github_id` `githubId`, `google_id` `googleId`, 
        `facebook_id` `facebookId`, `twitter_id` `twitterId`, `fingerprint_id` `fingerprintId`, `face_id` `faceId`, 
        `trusted_device_id` `trustedDeviceId`, `account_status` `accountStatus`, `unlock_time` `unlockTime`, `safe_status` `safeStatus`, 
        `nick_name` `nickName`, `avatar` `avatar`, `real_name` `realName`, `sex` `sex`, 
        `birthday` `birthday`, `created_at` `createdAt`, `created_by` `createdBy`, `updated_at` `updatedAt`, 
        `updated_by` `updatedBy`, `valid_status` `validStatus`
        from t_user_info
        WHERE `status` = 'VALID'
        <if test="pwd != null and pwd != ''">
            and `pwd` = #{pwd}
        </if>
        <if test="securityGestures != null and securityGestures != ''">
            and `security_gestures` = #{securityGestures}
        </if>
        <if test="expiryTime != null">
            and `expiry_time` = #{expiryTime}
        </if>
        <if test="areaCode != null and areaCode != ''">
            and `area_code` = #{areaCode}
        </if>
        <if test="phone != null and phone != ''">
            and `phone` = #{phone}
        </if>
        <if test="email != null and email != ''">
            and `email` = #{email}
        </if>
        <if test="cardId != null and cardId != ''">
            and `card_id` = #{cardId}
        </if>
        <if test="wchatId != null and wchatId != ''">
            and `wchat_id` = #{wchatId}
        </if>
        <if test="weiboId != null and weiboId != ''">
            and `weibo_id` = #{weiboId}
        </if>
        <if test="qqId != null and qqId != ''">
            and `qq_id` = #{qqId}
        </if>
        <if test="githubId != null and githubId != ''">
            and `github_id` = #{githubId}
        </if>
        <if test="googleId != null and googleId != ''">
            and `google_id` = #{googleId}
        </if>
        <if test="facebookId != null and facebookId != ''">
            and `facebook_id` = #{facebookId}
        </if>
        <if test="twitterId != null and twitterId != ''">
            and `twitter_id` = #{twitterId}
        </if>
        <if test="fingerprintId != null and fingerprintId != ''">
            and `fingerprint_id` = #{fingerprintId}
        </if>
        <if test="faceId != null and faceId != ''">
            and `face_id` = #{faceId}
        </if>
        <if test="trustedDeviceId != null and trustedDeviceId != ''">
            and `trusted_device_id` = #{trustedDeviceId}
        </if>
        <if test="accountStatus != null and accountStatus != ''">
            and `account_status` = #{accountStatus}
        </if>
        <if test="unlockTime != null">
            and `unlock_time` = #{unlockTime}
        </if>
        <if test="safeStatus != null and safeStatus != ''">
            and `safe_status` = #{safeStatus}
        </if>
        <if test="nickName != null and nickName != ''">
            and `nick_name` = #{nickName}
        </if>
        <if test="avatar != null and avatar != ''">
            and `avatar` = #{avatar}
        </if>
        <if test="realName != null and realName != ''">
            and `real_name` = #{realName}
        </if>
        <if test="sex != null">
            and `sex` = #{sex}
        </if>
        <if test="birthday != null">
            and `birthday` = #{birthday}
        </if>
        <if test="createdAt != null">
            and `created_at` = #{createdAt}
        </if>
        <if test="createdBy != null and createdBy != ''">
            and `created_by` = #{createdBy}
        </if>
        <if test="updatedAt != null">
            and `updated_at` = #{updatedAt}
        </if>
        <if test="updatedBy != null and updatedBy != ''">
            and `updated_by` = #{updatedBy}
        </if>
        <if test="validStatus != null and validStatus != ''">
            and `valid_status` = #{validStatus}
        </if>
        ORDER BY uid ASC
    </select>

    <select id="getUserInfoDetail" parameterType="java.lang.String"
            resultType="com.rainsunset.auth.dal.model.UserInfo">
        select
        `uid` `uid`,
        `pwd` `pwd`, `security_gestures` `securityGestures`, `expiry_time` `expiryTime`, `area_code` `areaCode`, 
        `phone` `phone`, `email` `email`, `card_id` `cardId`, `wchat_id` `wchatId`, 
        `weibo_id` `weiboId`, `qq_id` `qqId`, `github_id` `githubId`, `google_id` `googleId`, 
        `facebook_id` `facebookId`, `twitter_id` `twitterId`, `fingerprint_id` `fingerprintId`, `face_id` `faceId`, 
        `trusted_device_id` `trustedDeviceId`, `account_status` `accountStatus`, `unlock_time` `unlockTime`, `safe_status` `safeStatus`, 
        `nick_name` `nickName`, `avatar` `avatar`, `real_name` `realName`, `sex` `sex`, 
        `birthday` `birthday`, `created_at` `createdAt`, `created_by` `createdBy`, `updated_at` `updatedAt`, 
        `updated_by` `updatedBy`, `valid_status` `validStatus`
        from t_user_info
        WHERE uid = #{uid}
    </select>

    <insert id="fullInsertUserInfo" parameterType="com.rainsunset.auth.dal.model.UserInfo"
        useGeneratedKeys="true" keyProperty="uid">
        INSERT INTO t_user_info ( uid,
            `pwd`, `security_gestures`, `expiry_time`, `area_code`, 
            `phone`, `email`, `card_id`, `wchat_id`, 
            `weibo_id`, `qq_id`, `github_id`, `google_id`, 
            `facebook_id`, `twitter_id`, `fingerprint_id`, `face_id`, 
            `trusted_device_id`, `account_status`, `unlock_time`, `safe_status`, 
            `nick_name`, `avatar`, `real_name`, `sex`, 
            `birthday`, `created_at`, `created_by`, `updated_at`, 
            `updated_by`, `valid_status`
        ) VALUES ( #{uid},
            #{pwd}, #{securityGestures}, #{expiryTime}, #{areaCode}, 
            #{phone}, #{email}, #{cardId}, #{wchatId}, 
            #{weiboId}, #{qqId}, #{githubId}, #{googleId}, 
            #{facebookId}, #{twitterId}, #{fingerprintId}, #{faceId}, 
            #{trustedDeviceId}, #{accountStatus}, #{unlockTime}, #{safeStatus}, 
            #{nickName}, #{avatar}, #{realName}, #{sex}, 
            #{birthday}, #{createdAt}, #{createdBy}, #{updatedAt}, 
            #{updatedBy}, #{validStatus}
        )
    </insert>

    <update id="updateUserInfo" parameterType="com.rainsunset.auth.dal.model.UserInfo">
        update t_user_info
        <trim prefix="set" suffixOverrides=",">
                <if test="pwd != null">
                    `pwd` =#{pwd},
                </if>
                <if test="securityGestures != null">
                    `security_gestures` =#{securityGestures},
                </if>
                <if test="expiryTime != null">
                    `expiry_time` =#{expiryTime},
                </if>
                <if test="areaCode != null">
                    `area_code` =#{areaCode},
                </if>
                <if test="phone != null">
                    `phone` =#{phone},
                </if>
                <if test="email != null">
                    `email` =#{email},
                </if>
                <if test="cardId != null">
                    `card_id` =#{cardId},
                </if>
                <if test="wchatId != null">
                    `wchat_id` =#{wchatId},
                </if>
                <if test="weiboId != null">
                    `weibo_id` =#{weiboId},
                </if>
                <if test="qqId != null">
                    `qq_id` =#{qqId},
                </if>
                <if test="githubId != null">
                    `github_id` =#{githubId},
                </if>
                <if test="googleId != null">
                    `google_id` =#{googleId},
                </if>
                <if test="facebookId != null">
                    `facebook_id` =#{facebookId},
                </if>
                <if test="twitterId != null">
                    `twitter_id` =#{twitterId},
                </if>
                <if test="fingerprintId != null">
                    `fingerprint_id` =#{fingerprintId},
                </if>
                <if test="faceId != null">
                    `face_id` =#{faceId},
                </if>
                <if test="trustedDeviceId != null">
                    `trusted_device_id` =#{trustedDeviceId},
                </if>
                <if test="accountStatus != null">
                    `account_status` =#{accountStatus},
                </if>
                <if test="unlockTime != null">
                    `unlock_time` =#{unlockTime},
                </if>
                <if test="safeStatus != null">
                    `safe_status` =#{safeStatus},
                </if>
                <if test="nickName != null">
                    `nick_name` =#{nickName},
                </if>
                <if test="avatar != null">
                    `avatar` =#{avatar},
                </if>
                <if test="realName != null">
                    `real_name` =#{realName},
                </if>
                <if test="sex != null">
                    `sex` =#{sex},
                </if>
                <if test="birthday != null">
                    `birthday` =#{birthday},
                </if>
                <if test="createdAt != null">
                    `created_at` =#{createdAt},
                </if>
                <if test="createdBy != null">
                    `created_by` =#{createdBy},
                </if>
                <if test="updatedAt != null">
                    `updated_at` =#{updatedAt},
                </if>
                <if test="updatedBy != null">
                    `updated_by` =#{updatedBy},
                </if>
                <if test="validStatus != null">
                    `valid_status` =#{validStatus},
                </if>
        </trim>
        where uid = #{uid}
    </update>

    <update id="deleteUserInfos">
        update t_user_info
        set `status` = 'UNVALID', updated_by = #{updatedBy}
        where uid IN
        <foreach collection="uids" item="uid" open="(" close=")" separator=",">
            #{uid}
        </foreach>
    </update>
</mapper>
